<div *ngIf="!current.showName">
    No data available
</div>
<div *ngIf="current.showName">
    <span>
        
        <div style="display: flex;">
            <mat-card style="flex: 1 1 auto;">
                <img [src]='current.showImage' />
            </mat-card>

            <span class="spacer"></span>
            
            <mat-card style="flex: 1 1 auto;">
                <mat-card-title>
                    {{current.showName}}
                </mat-card-title>
                <div class="spacer"></div>
                
                <br/>

                {{current.showSummary}}
                <div class="spacer"></div>
                
                <br/>  

                <div class="spacer"></div>
                Language: {{current.showLanguage}}
                <div class="spacer"></div>
                Genres: {{current.showGenres}}
                <div class="spacer"></div>
                
                <br/>

                <mat-divider></mat-divider>
                
                <br/>

                <div class="spacer"></div>
                Status: {{current.showStatus}}
                <div class="spacer"></div>
                Runtime: {{current.showRuntime}} minutes
                <div class="spacer"></div>
                Next showing(s): {{current.showTime}}
                {{current.showDays}}
                on {{current.showNetwork}}
            </mat-card>

        </div> <!-- ends div 'flex'-->
    </span>
</div>