<div *ngIf="!current.showName">
    No data available
</div>
<div *ngIf="current.showName">
    <span>
        <div>
            {{current.showName}}
            <div class="spacer"></div>
            Language: {{current.showLanguage}}
            <div class="spacer"></div>
            Genres: {{current.showGenres}}
            <div class="spacer"></div>
            Summary: {{current.showSummary}}
        </div>
        <div>
            <img [src]='current.showImage' />
        </div>
        <div>
            Status: {{current.showStatus}}
            <div class="spacer"></div>
            Runtime: {{current.showRuntime}} minutes
            <div class="spacer"></div>
            Next showing(s): {{current.showTime}}
            {{current.showDays}}
            on {{current.showNetwork}}
        </div>
    </span>
</div>